In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import f1_score, precision_score, recall_score

In [2]:
def load_data(path, rows = 300000):
    """
    Load the data and remove unnecessary columns

    """
    
    data = pd.read_csv(path, header=None, sep=',')
#     data = data[:rows]
    data.columns = ['i', 'B1', 'C1', 'A2', 'B2', 'C2', 
                    'ma_B1', 'ma_C1', 'ma_A2', 'ma_B2', 'ma_C2', 
                    'y_pred', 'BIGsum', 'Agent_1', 'y_label']
    data.drop(['i', 'BIGsum'], axis =1, inplace = True)
    
#     return data[['y_pred', 'Agent_1', 'y_label']]
    return data

In [3]:
# file_path  = r'C:\Users\Gor\Desktop\New_experiments\Important_files-3\HT_anomaly_detection_GIT\HT_anomaly_detection\OCSVM_experimental_results\Conditionally_activated_HT\Complete_pow_cons_pattern\T=50p\finalPOWCONS_HT=1.8kOhm.txt'
# file_path  = r'G:\POWCONS.txt'
file_path  = r'G:\Conditionally_activated_HT\Complete_pow_cons_pattern\HT_c\T=100p\POWCONS_HT=1.0kOhm.txt'

# Generate train data
data = load_data(file_path)

In [4]:
data

,B1,C1,A2,B2,C2,ma_B1,ma_C1,ma_A2,ma_B2,ma_C2,y_pred,Agent_1,y_label
0,51.0,44.0,251.0,69.0,52.0,10.2,8.8,50.2,13.8,10.4,-1,-1,-1
1,51.0,33.0,251.0,69.0,49.0,20.4,15.4,100.4,27.6,20.2,-1,-1,-1
2,49.0,44.0,257.0,66.0,41.0,30.2,24.2,151.8,40.8,28.4,-1,-1,-1
3,48.0,39.0,254.0,64.0,44.0,39.8,32.0,202.6,53.6,37.2,-1,-1,-1
4,49.0,39.0,257.0,64.0,39.0,49.6,39.8,254.0,66.4,45.0,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81945,44.0,38.0,262.0,8.0,41.0,43.4,35.2,259.2,7.8,35.4,1,1,1
81946,43.0,36.0,261.0,8.0,41.0,43.2,35.8,260.0,7.8,38.4,1,1,1
81947,44.0,36.0,261.0,8.0,29.0,43.8,35.8,260.4,7.8,36.0,1,1,1
81948,44.0,38.0,261.0,10.0,29.0,43.8,36.8,260.8,8.2,33.2,1,1,1
81949,43.0,36.0,259.0,7.0,41.0,43.6,36.8,260.8,8.2,36.2,1,1,1

In [5]:
simple_f1 = f1_score(data['y_label'], data['y_pred'])
simple_precision = precision_score(data['y_label'], data['y_pred'])
simple_recall    = recall_score(data['y_label'], data['y_pred'])

agent_f1 = f1_score(data['y_label'], data['Agent_1'])
agent_precision = precision_score(data['y_label'], data['Agent_1'])
agent_recall    = recall_score(data['y_label'], data['Agent_1'])

In [6]:
print(simple_f1, simple_precision, simple_recall)

0.9129973193194788 0.9998546680618533 0.84002442002442

In [7]:
print(agent_f1, agent_precision, agent_recall)

0.9347481056727421 0.9821668728818118 0.8916971916971917

In [8]:
# df = data[['ma_B2','y_pred', 'Agent_1', 'y_label']].to_numpy()
df = data[['B2','y_pred', 'Agent_1', 'y_label']].to_numpy()
df[0:10]

array([[69., -1., -1., -1.],
       [69., -1., -1., -1.],
       [66., -1., -1., -1.],
       [64., -1., -1., -1.],
       [64., -1., -1., -1.],
       [59., -1., -1., -1.],
       [61., -1., -1., -1.],
       [59., -1., -1., -1.],
       [56., -1., -1., -1.],
       [54., -1., -1., -1.]])

In [9]:
noHT_indeces = df[:, 3] == 1
HT_indeces = df[:, 3] == -1

In [10]:
Pcontam = np.mean(df[HT_indeces, 0])
print("Pcontam = ", Pcontam)

Pcontam =  39.36529268292683

In [11]:
Pclean = np.mean(df[noHT_indeces, 0])
print("Pclean = ", Pclean)

Pclean =  21.984322344322344

In [12]:
Pcontam - Pclean

17.380970338604484